@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,500&family=Poppins:ital,wght@0,400;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgba(255, 198, 170, 0.4);
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: #1f2937;
    max-width: 1600px;
    margin: 0 auto;
}

/*header*/
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #552b15;
}

#logo {
    font-size: 200%;
    text-decoration: none;
    float: left;
    margin-left: 1.875rem;
}

#menu, #logo #reservation {
    line-height: 5rem;
}

#menu {
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.125rem;
    margin-left: 1.875rem;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 1.875rem;
    margin-top: 1rem;
}

#menu a {
    text-decoration: none;
    color: #7e4e36;
}

#menu a:hover {
    color: #a8745a;
    border-bottom: 1px solid #552b15;
}

.active {
    border-bottom: 1px solid #552b15;
}

/*hero*/
#hero { 
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#hero-image {
    height: 37.5rem;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center ;
    background-size: cover;
}

#hero-text {
    letter-spacing: 0.25rem;
    padding: 2.5rem;
    background-color: rgba(212, 156, 129, 0.44);
    width: 50%;
    height: 25%;
    margin: 10px;
    padding: 5px;
    position: absolute;
    text-align: center;
}

#hero-text h2 {
    font-size: 350%;
    line-height: 1;
    padding-top: 3.5rem;
}

#hero-text #button {
    background-color: #d49c81;
    border: 1px solid #552b15;
    border-radius: 5px;
    color: #7e4e36;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.875rem;
}

#hero-text #button:hover {
    background-color: #7e4e36;
    color: #d49c81;
    border: 2px solid;
}

/*flip cards*/
.flip-card {
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #ffc6aa;
    color: #552b15;
    transform: rotateY(180deg);
  }

  .flip-card-img {
    width: 20rem;
    height: 20rem;
  }
  
#card-one {
    display: inline-block;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

#card-two {
    display: inline-block;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

#card-three {
    display: inline-block;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

#card-four {
    display: inline-block;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.flip-card-back h2 {
    padding: 1.875rem;
    text-align: center;
}

.flip-card-back p {
    font-size: 1.25rem;
}

#card-container {
    width: 100%;
    height: 33.5rem;
    display: flex;
    flex-flow: row wrap;    
    justify-content: center;
    align-items: center;
}




/*footer*/
footer {
    height: 18.67rem;
}

footer li{
    list-style: none;
}

footer h3 {
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer-center a {
    color: inherit;
    padding-bottom: 0.25rem;
}

#social-media-links i {
    color: #7e4e36;
    font-size: 150%;
    margin: 0.75rem;
    text-align: center;
}

#social-media-links>li {
    display: inline;
    text-align: center;
}

#social-media-links {
    text-align: center;
}

#footer-container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 1.875rem;
}

.footer-left {
    float: left;
    text-align: left;
}

.footer-right {
    float: right;
    text-align: right;
}

.footer-center {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

#get-in-touch {
    padding-top: 1rem;
}

.footer-disclaimer {
    padding-top: 4rem;
    font-size: small;
}

/* about us page */
#our-story {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#our-story h2 {
    font-size: 230%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#our-story img {
    width: 25rem;
    height: 17.68rem;
}

#our-story-img1 {
    float: right;
}

#our-story-img2 {
    float: left;
}

#first-block-container p {
    line-height: 1.75rem;
    padding-right: 30rem;
}

#second-block-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#second-block-container p {
    line-height: 1.75rem;
    padding-left: 30rem;
}

/*menu page*/
.menu-card-section {
    width: 100%;
    overflow: hidden;
    min-height: 37.5rem;
    padding: 1rem;
}

.menu-card-section h2 {
    font-size: 230%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
.menu-card-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    max-width: 70rem;
    margin: auto;
    align-items: flex-start;
    padding: 0 1.25rem;
}

.menu-card-container div {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}

.menu-card-container * {
    margin: 0 0.625rem;
    flex: 1 100%;
    border-radius: 10%;
    text-align: left;
}

.menu-card-column {
    background-color: rgba(168, 116, 90, 0.72);
    flex: 0 1 21.875rem;
    margin: 1.56rem auto;
    height: 24rem;
}

.menu-card-column li {
    list-style-type: none;
    font-size: 120%;
    color: #1f2937;
    font-weight: 600;
}

.menu-card-header {
    text-transform: uppercase;
    font-size: 160%;
    padding-top: 1rem;
    letter-spacing: 0.25rem;
}

.menu-card-footer { 
    border-top: 0.25rem solid #552b15;
    border-radius: 0;
    margin: 0.8rem;
    padding-top: 1rem;
    font-weight: 600;
}

#call-to-action {
    text-align: center;
    padding-top: 3rem;
}

#call-to-action h3 {
    font-size: 150%;
    font-weight: 600;    
}

#call-to-action a {
    text-decoration: none;
    background-color: #d49c81;
    border: 1px solid #552b15;
    border-radius: 5px;
    color: #7e4e36;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.875rem;
}

#call-to-action a:hover {
    background-color: #7e4e36;
    color: #d49c81;
    border: 2px solid;
}

/*gallery page*/
#gallery {
    padding: 2rem;
}

.gallery-container {
    display: flex;
    width: 100%;
    max-width: 1600px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    padding-top: 3.5rem;
}

.gallery-container img {
    width: 31.25rem;
    height: 25rem;
    padding: 0.3rem;
}

/*click and collect page*/
#click-and-collect-section {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#click-and-collect-section h2{
    font-size: 230%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.click-and-collect-form {
        display: flex;
        flex-direction: column;
        background-color: rgba(168, 116, 90, 0.72);
        padding: 2rem;
        border-radius: 5rem;
}

.click-and-collect-form label {
    font-size: 150%;
    font-weight: 400;
    color: #552B15;
}

.click-and-collect-form input {
    height: 2rem;
    border: 1px solid #552B15;
    border-radius: 1rem;
}

.click-and-collect-form option {
    color: #7e4e36;
}

#submit {
    height: 4rem;
    font-size: 120%;
    font-weight: 600;
    color: #552B15;
    font-family: 'DM Sans', sans-serif;
    background-color: #d49c81;
}

#submit:hover {
    color: #d49c81;
    background-color: #552B15;
}

#terms-and-condition-section {
    padding: 3rem;
}

#click-and-collect-terms {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 3px solid #552b15;
    border-radius: 1rem;
}

#click-and-collect-terms h3 {
    font-size: 150%;
    padding-bottom: 2rem;
}

#click-and-collect-terms  li {
    list-style-type: none;
    line-height: 1.75rem;
}

/*thank you page*/
#thank-you-page {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#thank-you-container {
    text-align: center;
}

#thank-you-container h2 {
    font-size: 230%;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

/*404 page*/
#lost-page {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lost-page h2 {
    font-size: 230%;
    font-weight: 600;
}

#lost-page img {
    padding: 3rem;
    max-width: 100%;
}

#lost-page a {
    text-decoration: none;
    background-color: #d49c81;
    border: 1px solid #552b15;
    border-radius: 5px;
    color: #7e4e36;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.875rem;
}

#lost-page a:hover {
    background-color: #7e4e36;
    color: #d49c81;
    border: 2px solid;
}

/*media query*/
@media only screen and (max-width: 1455px) {
    body{
        max-width: 1200px;
    }

    #hero-text {
        height: 20%;
    }

    #hero-text h2 {
        font-size: 130%;
        padding-top: 1.5rem;
    }

    #hero-text #button {
        padding: 0.75rem;
        font-size: 1rem;
        margin-top: 0.75rem;
    }

    .flip-card {
    width: 15rem;
    height: 15rem;
    }

    .flip-card-img {
    width: 15rem;
    height: 15rem; 
    }

    .flip-card-back h2 {
        padding: 1rem;
    }

    .flip-card-back p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1075px) {
    body{
        max-width: 1000px;
    }

    #card-container {
        width: 100%;
        height: auto;
    }

    .flip-card-back h2 {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 875px) {
    body {
        max-width: 700px;
    }

    #first-block-container p {
        padding-right: 0;
    }

    #second-block-container p {
        padding-left: 0;
    }
}

@media only screen and (max-width: 650px) {
    body {
        max-width: 400px;
    }

    #logo {
        font-size: 150%;
        text-align: center;
    }

    #menu{
        float: none;
        margin-left: 0;
        line-height: 3rem;
    }

    #menu li {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    #hero, #hero-image {
        height: 25rem;
    }

    #hero-text h2 {
        font-size: 100%;
        padding-top: 1rem;
    }
    
    #hero-text #button {
        padding: 0.75rem;
        font-size: 0.75rem;
        margin-top: 0.75rem;
    }

    #hero-text h2 {
    font-size: 100%;
    padding-top: 1rem;
    }

    #hero-text #button {
    padding: 0.75rem;
    font-size: 0.75rem;
    margin-top: 0.75rem;
    }

    #card-one, #card-two, #card-three, #card-four {
        padding-top: 1rem;
        padding-top: 1rem;
    }

    #footer-container {
        float: none;
        text-align: center;
    }

    .footer-left{
        float: none;
        text-align: center;
    }

    .footer-center{
        float: none;
        text-align: center;
    }

    .footer-right{
        float: none;
        text-align: center;
    }

    .footer-left{
        float: none;
        text-align: center;
    }

    .footer-center{
        float: none;
        text-align: center;
    }

    .footer-disclaimer{
        float: none;
        text-align: center;
        padding-top: 2rem;
    }
}

