@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,500&family=Poppins:ital,wght@0,400;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f3ebe8;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: #1f2937;
}

/*header*/

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #552b15;
}

#logo {
    float: left;
    font-size: 180%;
    text-decoration: none;
    margin-left: 20px;
}

#menu li {
    font: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    
}

#menu a {
    text-decoration: none;
    color: #7e4e36;
}

#menu a:hover {
    color: #a8745a;
    border-bottom: 1px solid #552b15;
}

.active {
    border-bottom: 1px solid #552b15;
}