@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,500&family=Poppins:ital,wght@0,400;1,600;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f3ebe8;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: #1f2937;
    max-width: 2000px;
    margin: 0 auto;
}

/*header*/

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #552b15;
}

#logo {
    font-size: 200%;
    text-decoration: none;
    float: left;
    margin-left: 1.875rem;
}

#menu, #logo #reservation {
    line-height: 5rem;
}

#menu {
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.125rem;
    margin-left: 1.875rem;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 1.875rem;
    margin-top: 1rem;
}

#menu a {
    text-decoration: none;
    color: #7e4e36;
}

#menu a:hover {
    color: #a8745a;
    border-bottom: 1px solid #552b15;
}

.active {
    border-bottom: 1px solid #552b15;
}


/*hero*/

#hero { 
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 1rem;
}

#hero-image {
    height: 37.5rem;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center ;
    background-size: cover;
}

#hero-text {
    letter-spacing: 0.25rem;
    padding: 2.5rem;
    background-color: rgba(212, 156, 129, 0.44);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

#hero-text h2 {
    font-size: 150%;
}

#hero-text h3 {
    font-size: 450%;
    line-height: 1;
    padding-top: 1.875rem;
}